:root {
  /* colors */
    --color-cream: rgb(255, 246, 240);
  /* border-radius */
    --border-radius-small: 0.25em;
    --border-radius-big: 0.75em;
  /* border-radius */
  --box-shadow: 5px 10px #3b3b3b;
  }

html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;;
  letter-spacing: normal;
  color: var(--color-black-text);
  background-color: var(--background-color);
  font-size: 2rem;
  background-image: url(../assets/background3.png);
}

.cursor-pointer {
  cursor: pointer;
}
